<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/CustomStyleSheet")
    
    <link href="~/Content/CustomStyleSheet.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NorthWest Labs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                       

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order Quotes</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Create Quote", "CreateQuote", "Home")</li>
                                            <li><a href="#">View Quote By Customer</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer Orders</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Create an Order", "CreateOrder", "Home")</li>
                                            <li><a href="#">Lookup Past Order</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Business Leads</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Create New Business Lead</a></li>
                                            <li><a href="#">View Business Leads</a></li>
                                        </ul>
                                    </li>
                                </ul>
                       
                       <!-- 
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create New Order</a></li>
                            <li>@Html.ActionLink("See My Current Orders", "CurrentOrderList", "Home")</li>
                            <li><a href="#">@Html.ActionLink("See My Past Orders", "PastOrderList", "Home")</a></li>
                            <li><a href="#">Search For an Order</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Billing<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create Invoice</a></li>
                            <li>@Html.ActionLink("Update Hourly Charge Rate", "HourlyChargeRate", "Home")</li>
                        </ul>
                    </li>
                        -->
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order Tracking<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Work Orders", "WorkOrders", "Home")</li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Receiving</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Compound Reciept Log</a></li>
                                    <li><a href="#">Compound Weighing and Despensing Log</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Customer List</a></li>
                            <li><a href="#">Employee List</a></li>
                            <li><a href="#">Employee Schedule</a></li>
                            <li><a href="#">Employee Timesheet</a></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create New Account</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Create Customer Account</a></li>
                                    <li><a href="#">Create Employee Account</a></li>
                                    <li><a href="#">Create Manager Account</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li>
                        <a href="#">Inventory</a>
                    </li>
                    -->
                    <li>
                        <a href="#">Catalog</a>
                    </li>
                    
                    <li>
                        <a href="#">Lab Schedule</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Customer Reports</a></li>
                            <li><a href="#">Performance Reports</a></li>
                            <li>@Html.ActionLink("Profitability Reports", "ProfitabilityReports", "Home")</li>
                            <li><a href="#">Monthtly Sales Reports</a></li>
                            <li>@Html.ActionLink("Ad-Hoc Reports", "AdHocReport", "Home")</li>
                        </ul>
                    </li>
                    
                            

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NorthWest Labs</p>
        </footer>
    </div>

 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
