
@{
    ViewBag.Title = "CreateOrder";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Select Customer ID</h2>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Customer Number</th>
                        <th>Account Name</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">6541</a></th>
                        <td>Brantas Clinic</td>
                        <td>MarioBrantas@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">6531</a></th>
                        <td>Larry Services</td>
                        <td>JorgeClinton@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">5463</a></th>
                        <td>Public Clinic</td>
                        <td>Public.Clinic@outlook.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">5469</a></th>
                        <td>Munta Search Advancements</td>
                        <td>MuntaSearch@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">7456</a></th>
                        <td>Blabloid Medical Research</td>
                        <td>BlabloidResearch@live.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">3541</a></th>
                        <td>Lab Research Clinic</td>
                        <td>LabReasearch@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">3543</a></th>
                        <td>Mundial Clinic</td>
                        <td>Mundial.Clinic@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">2234</a></th>
                        <td>Larry Services</td>
                        <td>Services@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">4553</a></th>
                        <td>Christmas Clinic</td>
                        <td>ClinicsChris@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="@Url.Action("CreateCustomerOrder", "Home")">5463</a></th>
                        <td>Fandangos Research</td>
                        <td>Fandangos Research@gmail.com</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


